/* .bt btn-success{

    background: #000;
    color: aqua;
} */
.second{
     width: 500px;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: system-ui,serif;
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    text-align: left;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 400px;
    background: rgb(237, 245, 250);
    border-radius: 30px;
    }

.btn-success{
    border: 0;
    color: white;
    background: rgb(2, 109, 248);
    margin: 10px 280px;
    border-radius: 6px;
}
btn-success{
    border: 0;
    color: white;
    background: rgb(2, 109, 248);
    margin: 10px 280px;
    border-radius: 6px;
}
#btn_check{
    border: 0;
    color: white;
    background: rgb(137, 2, 248);
    border-radius: 6px;
}
#err_msg{
    margin-left: 350px;
    color: red;
    font-size: larger;
}